{{ $pathImages := printf "static/%s/images/" $.Params.id }}
{{ $pathLogos := printf "static/%s/logos/" $.Params.id }}
{{ $urlImages := printf "%s/%s/images/" $.Site.BaseURL $.Params.id }}
{{ $urlLogos := printf "%s/%s/logos/" $.Site.BaseURL $.Params.id }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{ $.Title }}</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
		<link href="{{ $.Site.BaseURL }}/asset/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="uk-container uk-container-center">
			<div class="uk-grid">
				<div id="navigation" class="uk-width-medium-1-4">
					<h1 class="nav-header">{{ $.Title }}</h1>
					<a class="nav-header" href="{{ $.Params.website.link }}">{{ $.Params.website.name }}</a>
					<ul class="uk-nav uk-nav-side">
            <li><a href="#factsheet">Factsheet</a></li>
						<li><a href="#description">Description</a></li>
						<li><a href="#history">History</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="#trailers">Videos</a></li>
						<li><a href="#images">Images</a></li>
            <li><a href="#logo">Logo &amp; Icon</a></li>
            <li><a href="#credits">Team</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<div id="content" class="uk-width-medium-3-4">
          {{ $header := (readDir $pathImages) }}
          {{ if (where $header "Name" "header.png") }}
          <img src="{{ $urlImages }}header.png" class="header">
          {{ end }}
          <div class="uk-grid">
						<div class="uk-width-medium-2-6">
							<h2 id="factsheet">Factsheet</h2>
							<p>
								<strong>Developer:</strong><br/>
								<a href="{{ $.Params.website.link }}">{{ $.Params.title }}</a><br/>
								Based in {{ $.Params.basedin }}
							</p>
							<p>
								<strong>Founding date:</strong><br/>
								{{ $.Params.foundingdate }}
							</p>
							<p>
								<strong>Website:</strong><br/>
								<a href="{{ $.Params.website.link }}">{{ $.Params.website.name }}</a>
							</p>
							<p>
								<strong>Press / Business contact:</strong><br/>
								<a href="mailto:{{ $.Params.pressContact }}">{{ $.Params.pressContact }}</a>
							</p>
              {{ if (gt $.Params.social 0 ) }}
                <p>
									<strong>Social:</strong><br/>
									{{ range $.Params.social }}
										<a href="{{ .link }}">{{ .name }}</a><br/>
									{{ end }}
                </p>
              {{ end }}
              {{ if (gt $.Params.releases 0 ) }}
                <p>
									<strong>Releases:</strong><br />
									{{ range $.Params.releases }}
										<a href="{{ relref $.Page . }}">{{ ($.Site.GetPage "page" .).Title }}</a><br />
									{{ end }}
                </p>
              {{ end }}
						</div>
						<div class="uk-width-medium-4-6">
              {{ .Content }}
							{{ if (gt $.Params.releases 0 ) }}
							<h2 id="projects">Projects</h2>
								<ul>
								{{ range $.Params.releases }}
									<li><a href="{{ relref $.Page . }}">{{ ($.Site.GetPage "page" .).Title }}</a></li>
								{{ end }}
								</ul>
							{{ end }}
						</div>
					</div>

					<hr>

          <h2 id="trailers">Videos</h2>
          {{ partial "videos.html" . }}
					<hr>

					<h2 id="images">Images</h2>
					{{ partial "images.html" . }}
					<hr>

					<h2 id="logo">Logo &amp; Icon</h2>
          {{ partial "logos.html" . }}
					<hr>
					
					<div class="uk-grid">
						<div class="uk-width-medium-1-2">
							<h2 id="credits">Members</h2>
							{{ range $.Params.team }}
							<p>
								<strong>{{ .person }}{{ if .mail }} (<a href="mailto:{{ .mail }}">Email</a>){{ end }}</strong><br/>
								{{ .role }}
							</p>
							{{ end }}
						</div>
						<div class="uk-width-medium-1-2">
							<h2 id="contact">Contact</h2>
							{{ partial "contacts.html" . }}
						</div>
					</div>

					<hr>

					<p>{{ partial "footer.html" . }}</p>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>		
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				var container = $('.images');

				container.imagesLoaded( function() {
					container.masonry({
						itemSelector: '.uk-width-medium-1-2',
					});
				});
			});
		</script>	</body>
</html>