<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Not Found!</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
  <link href="{{ $.Site.BaseURL }}/asset/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="uk-container uk-container-center">
    <h1>404 Not Found</h1>
    <p>
      We were unable to find the resource you were looking for.
    </p>
    <a href="{{ $.Site.BaseURL }}">Go back</a>
  </div>
</body>
</html>